@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GardenManager</h1>
    <p class="lead">GardenManager - это сайт помощи огородникам. С его помощью вы с легкостью сможете управлять посадками на своих участках.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Мои участки</h2>
        <p>
            В данном разделе вы сможете добавлять, удалять свои участки. А также управлять посадками на них.
        </p>
        <p> @Html.ActionLink("Перейти >>", "ПолучитьСписокУчастков", "Територии", null, new { @class="btn btn-default" }) </p>
    </div>
    <div class="col-md-6">
        <h2>Диспетчер растений</h2>
        <p>
            Добавьте в данном разделе свои растения, которые будете высаживать на участках. 
            Укажите зависимости между растениями для автоматического подбора благоприятных посадок.
        </p>
        <p> @Html.ActionLink("Перейти >>", "ПолучитьСписокРастений", "Plants", null, new { @class = "btn btn-default" }) </p>
    </div>
</div>